NEWAPI_BASE_URL=http://host.docker.internal:3000
QUOTA_PER_UNIT=500000
LFN_SESSION_SECRET=replace-with-at-least-32-random-bytes
LFN_PORT=41800
SOURCE_CODE_URL=https://github.com/fuilyha56-wq/love-for-nai